/* 
Cluster
https://every-layout.dev/layouts/cluster/

<ul class="cluster-l">
  <li><!-- child --></li>
  <li><!-- child --></li>
  <li><!-- etc --></li>
</ul> */
  

.cluster-l {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.cluster-l[data-justify="start"] { justify-content: flex-start; }
.cluster-l[data-justify="center"] { justify-content: center; }
.cluster-l[data-justify="end"] { justify-content: flex-end; }
  