/* Stack */
/* https://every-layout.dev/layouts/stack/ */
/* <div class="stack-l">
  <div><!-- child --></div>
  <div><!-- child --></div>
  <div><!-- etc --></div>
</div> */

.stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-l > * {
  margin-block: 0;
} 

.stack-l > * + * {
  margin-block-start: var(--space, 1.5rem);
}


  