<button popovertarget="full-page-menu" class="full-page-menu__trigger | button icon" unstyled>menu</button>

<div popover id="full-page-menu" class="full-page-menu">
  <button popovertarget="full-page-menu" class="full-page-menu__trigger | button icon" data-color="white" unstyled>close</button>
  <nav>
    <ul role="list" class="full-page-menu__menu">
      <li><a class="full-page-menu__item"href="/pages/prototype/equipamentos/">Lista de Equipamentos</a></li>
      <li><a class="full-page-menu__item"href="/pages/prototype/equipamento/">Detalhe do Equipamento</a></li>
      <li><a class="full-page-menu__item"href="/pages/prototype/rotas/">Lista de Rotas</a></li>
      <li><a class="full-page-menu__item"href="/pages/prototype/rota/">Detalhe da Rota</a></li>
      <li><a class="full-page-menu__item"href="/pages/prototype/components/">Components</a></li>
      
    </ul>
  </nav>
</div>
