<div class="status-section | grid-auto">
    <div class="status-section__item | stack-l">
      <h4 class="label">Status Operante</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="funcionando">Funcionando</option>
        </select>
      </div>
    </div>
    <div class="status-section__item | stack-l">
      <h4 class="label">Precisa de Peças</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="ok">OK</option>
          <option value="indentificar-pecas">Identificar peças</option>
        </select>
      </div>
    </div>
  </div>
