<div class="status-section | grid-auto">
    <div class="status-section__item | stack-l">
      <h4 class="label">Status Operante</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="funcionando">Funcionando</option>
        </select>
      </div>
    </div>
    <div class="status-section__item | stack-l">
      <h4 class="label">Manutenção</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="ativado">Ativado - Normal</option>
        </select>
      </div>
    </div>
    <div class="status-section__item | stack-l">
      <h4 class="label">Cobertura de Peças</h4>
      <div class="chip" data-color="warning">
        <select class="chip__select">
          <option value="sem-pecas">Sem Peças</option>
        </select>
      </div>
    </div>
    <div class="status-section__item | stack-l">
      <h4 class="label">Atendimento</h4>
      <div class="chip" data-color="secondary">
        <select class="chip__select">
          <option value="mensal">Mensal</option>
        </select>
      </div>
    </div>
    <div class="status-section__item | stack-l" data-columns="span-2">
      <h4 class="label">Necessidade de Peças</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="ok">OK - Não precisa identificar peças</option>
        </select>
      </div>
    </div>
  </div>
