<section class="detail-header base-section | stack-l" >
  <div class="field" aria-readonly="true">
    <label for=""></label>
    <div class="select">
      <select name="" id="">
        <option value="">Funcionando</option>
        <option value="">Paralisaso</option>
      </select>
    </div>
  </div>
  
  
  <div class="status-section | stack-l" data-space="m">
    <div class="status-section__item | stack-l" data-space="xs">
      <h4 class="label">Status Operante</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="funcionando">Funcionando</option>
        </select>
      </div>
    </div>
    <div class="status-section__item | stack-l" data-space="xs">
      <h4 class="label">Precisa de Peças</h4>
      <div class="chip" data-color="success">
        <select class="chip__select">
          <option value="ok">OK</option>
          <option value="indentificar-pecas">Identificar peças</option>
        </select>
      </div>
    </div>
  </div>
</section>
