.summary-dash {
  display: flex;
  gap: var(--space-s); 
}

.summary-dash__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: var(--space-xs);
}

.summary-dash__value {
  font-size: 3rem;
}
