<section class="summary-dash">
  <div class="summary-dash__item">
    <p class="summary-dash__value">1</p>
    <h3 class="summary-dash__title">Corretivas</h3>
  </div>
  <div class="summary-dash__item">
    <p class="summary-dash__value">2</p>
    <h3 class="summary-dash__title">Preventivas</h3>
  </div>
  <div class="summary-dash__item">
    <p class="summary-dash__value">1</p>
    <h3 class="summary-dash__title">Pendentes</h3>
  </div>
</section>
