---
layout: ds/base.njk
title: Montele DS
css: /css/ds.css
---
<div class="ds-layout">
  <nav class="sidebar | stack-l | padding:m background-color:base-tint-05">
    {% set groupedItems = collections.all | groupByFolder('filePathStem') %}
    {% for folder, items in groupedItems %}
      <h5 class="text-transform:uppercase">{{ folder }}</h5>
      <ul role="list">
      {% for item in items %}
        <li><a href="{{ item.filePathStem }}">{{ item.data.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}

    {# use this example for separeted collections #}
    {# <h5 class="text-transform:uppercase">Components</h5>
    {% for item in collections.components %}
      <li><a href="{{ item.filePathStem }}">
        {{ item.data.title }}</a></li>
    {% endfor %} #}


  </nav>
  <div class="main | padding:m">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </div>
</div>



