---
layout: ds/base.njk
title: Prototye
icon:
tags:
  - prototype 
---
<main class="app-layout">
  <header class="app-layout__header | fixed-bar">
    <div>
      <img class="montele-logo" src="/assets/montele.svg" alt="">
    </div>
    <div class="fixed-bar__stretch">
      <a class="page-title" href="#">
        <h1 class="subject-title" href="" data-icon="{{icon}}">{{title}}</h1>
      </a>
    </div>
    <div>
      {% include "patterns/3-modules/full-page-menu/full-page-menu.html" %}
    </div>
  </header>

  <div class="app-layout__main">
    {{ content | safe }}
  </div>

  <div class="app-layout__footer | fixed-bar">
    <a class="fixed-bar__stretch | button icon" href="/pages/prototype/equipamento/"           title="Home"             aria-selected="{% if page.url == '/pages/prototype/' %}true{% else %}false{% endif %}"  unstyled>home</a>
    <a class="fixed-bar__stretch | button icon" href="/pages/prototype/equipamento/manutencao" title="Manutenção"       aria-selected="{% if page.url == '/pages/prototype/manutencao/' %}true{% else %}false{% endif %}" unstyled>construction</a>
    <a class="fixed-bar__stretch | button icon" href="/pages/prototype/equipamento/tech"       title="Tech"             aria-selected="{% if page.url == '/pages/prototype/tech/' %}true{% else %}false{% endif %}" unstyled>stacks</a>
    <a class="fixed-bar__stretch | button icon" href="/pages/prototype/equipamento/mensagens"  title="Mensagens & Chat" aria-selected="{% if page.url == '/pages/prototype/mensagens/' %}true{% else %}false{% endif %}" unstyled>chat</a>
  </div>
</main>



