/* Variables */
.chip {
  --chip-background-color: var(--base-tint-10);
  --chip-text-color: var(--base-color);
  --chip-border-color: var(--base-tint-20);
}

/* 
  Simple rule that hides any .chip that has no text in it. 
  The objective here is to reduce HTML complexity.
*/
.chip:empty { display: none; }

/* Structure */
.chip {  
  display: inline-block;
  width: auto;
}

/* Visual */
.chip {  
  border-radius: 50px;
  padding: var(--space-3xs) var(--space-s);
  border: 1px solid var(--chip-border-color);
  background-color: var(--chip-background-color);
  color: var(--chip-text-color);
  font-weight: 500;
  letter-spacing: .1px
}

.chip:not([disabled]) {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

/* Element variations */
.chip__select {
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: var(--size-2);
  color: var(--base-color);
  cursor: pointer;
}


/* Component Level Controls */

/* Color Control - Default Visual */
.chip[data-color="success"] {
  --chip-background-color: var(--success-tint-10);
  --chip-text-color: var(--success-color);
  --chip-border-color: var(--success-tint-20);
}
.chip[data-color="warning"] {
  --chip-background-color: var(--warning-tint-10);
  --chip-text-color: var(--warning-color);
  --chip-border-color: var(--warning-tint-20);
}
.chip[data-color="fail"] {
  --chip-background-color: var(--fail-tint-10);
  --chip-text-color: var(--fail-color);
  --chip-border-color: var(--fail-tint-20);
}
.chip[data-color="primary"] {
  --chip-background-color: var(--primary-tint-10);
  --chip-text-color: var(--primary-color);
  --chip-border-color: var(--primary-tint-20);
}
.chip[data-color="secondary"] {
  --chip-background-color: var(--secondary-tint-10);
  --chip-text-color: var(--secondary-color);
  --chip-border-color: var(--secondary-tint-20);
}

.chip[data-color="accent"] {
  --chip-background-color: var(--accent-tint-10);
  --chip-text-color: var(--accent-color);
  --chip-border-color: var(--accent-tint-20);
}

/* /* Color Control - Primary Visual */
.chip[data-visual="primary"][data-color="success"] {
  --chip-background-color: var(--success-color);
  --chip-text-color: var(--white-color);
  --chip-border-color: var(--success-shade-20);
}
.chip[data-visual="primary"][data-color="warning"] {
  --chip-background-color: var(--warning-color);
  --chip-text-color: var(--white-color);
  --chip-border-color: var(--warning-shade-20);
}
.chip[data-visual="primary"][data-color="fail"] {
  --chip-background-color: var(--fail-color);
  --chip-text-color: var(--white-color);
  --chip-border-color: var(--fail-shade-20);
}
.chip[data-visual="primary"][data-color="primary"] {
  --chip-background-color: var(--primary-color);
  --chip-text-color: var(--white-color);
  --chip-border-color: var(--primary-shade-20);
}
.chip[data-visual="primary"][data-color="secondary"] {
  --chip-background-color: var(--secondary-color);
  --chip-text-color: var(--white-color);
  --chip-border-color: var(--secondary-shade-20);
}
.chip[data-visual="primary"][data-color="accent"] {
  --chip-background-color: var(--accent-color);
  --chip-text-color: var(--white-color);
  --chip-border-color: var(--accent-shade-20);
}

