---
layout: ds/ds.njk
title: Chip
tags:
  - components
---



<div class="center-l stack-l">
  <article>
    <h1>Chip</h1>
    <p>Podemos pensar em ter alias para esses attr.</p>
    <p>Color, Status, Visual, Intensity</p>
  </article>

  <h2>Default | Secondary</h2>
  <p>
    <span class="chip">Default</span>
  </p>

  <h3>Variations | Secondary</h3>
  
  <p>
    <span class="chip" data-color="primary">data-color="primary"</span>
  </p>
  
  <p><span class="chip" data-color="secondary">data-color="secondary"</span></p>
  <p><span class="chip" data-color="accent">data-color="accent"</span></p>
  <p><span class="chip" data-color="success">data-color="success"</span></p>
  <p><span class="chip" data-color="warning">data-color="warning"</span></p>
  <p><span class="chip" data-color="fail">data-color="fail"</span></p>

  <h3>Variations | Primary</h3>
  <p><span class="chip" data-visual="primary" data-color="primary">data-visual="primary" + data-color="primary"</span></p>
  <p><span class="chip" data-visual="primary" data-color="secondary">data-visual="primary" + data-color="secondary"</span></p>
  <p><span class="chip" data-visual="primary" data-color="accent">data-visual="primary" + data-color="accent"</span></p>
  <p><span class="chip" data-visual="primary" data-color="success">data-visual="primary" + data-color="success"</span></p>
  <p><span class="chip" data-visual="primary" data-color="warning">data-visual="primary" + data-color="warning"</span></p>
  <p><span class="chip" data-visual="primary" data-color="fail">data-visual="primary" + data-color="fail"</span></p>
</div>
