---
layout: ds/prototype-detail.njk
title: Equipamento - Home
icon: offline_bolt
tags:
  - prototype
---
  {% include "patterns/3-modules/announcement-bar/announcement-bar.njk" %}

  {% include "patterns/4-sections/header-info-section/header-info-section.njk" %}

  {% include "patterns/4-sections/status-section/status-section.njk" %}

  {% include "patterns/4-sections/checkin-section/checkin-section.njk" %}


