---
layout: ds/prototype-detail.njk
title: PL-12800
icon: offline_bolt
tags:
  - prototype
---

<header class="detail-header base-section | center-l stack-l">
  <hgroup class="stack-l" data-space="l">
    <h2>MC DONALDS - MCDSLO - DRIVE SILVA LOBO - PL 1/2
    ARCOS DOURADOS</h2>
    <p>Avenida Silva Lobo, 700. <br>Nova Suíssa, Belo Horizonte, MG.</p>
  </hgroup>

  {% include "patterns/4-sections/status-section/status-section.njk" %}
</header>

<section class="work-section base-section | center-l">
  <h3 class="base-section__title">Chamados Abertos</h3>
  <ul class="ticket-list stack-l" role="list" data-space="xl">
    <li>
      {% include "patterns/3-modules/ticket/ticket.njk" %}
    </li>
    <li>
      {% include "patterns/3-modules/ticket/ticket.njk" %}
    </li>
  </ul>
</section>
