---
layout: ds/prototype-detail.njk
title: PL-12800
icon: offline_bolt
tags:
  - prototype
---
{% include "patterns/3-modules/announcement-bar/announcement-bar.njk" %}


{# Vamos adicionar um announcement e um summary dos items da lista. Provavelmente 3 colunas/links pro scroll com numeros: X Corretivas, X Preventivas, etc.</p> #}
{# Colocar uma corretiva, e 1 preventiva agendada, e 1 preventiva pendente </p> #}


{% include "patterns/3-modules/summary-dash/summary-dash.njk" %}

<section class="work-section base-section | center-l">
  <ul class="ticket-list stack-l" role="list" data-space="xl">
    <li>
      {% include "patterns/3-modules/ticket/ticket.njk" %}
    </li>
    <li>
      {% include "patterns/3-modules/ticket/ticket.njk" %}
    </li>
  </ul>
</section>



