---
layout: ds/prototype-detail.njk
title: PL-12800
---

<header class="topic-header">
  <h2 class="topic-header__title">Mensagens</h2>
</header>

<section class="mensagens-section base-section">
  <ul role="list">
    {% for i in range(0, 8) %}
    <li class="mensagem | stack-l">

      <header class="mensagem__header | polarize-l">
        <h4 class="mensagem__author">Claudio Mendonca</h4>
        <span class="mensagem__time">21/09/2024 18:34</span>
      </header>
      
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos qui dicta voluptatum accusamus vitae quia provident eveniet necessitatibus ipsa officia incidunt praesentium nesciunt, cum saepe iure! Maiores, nulla sed in numquam odit sint perferendis animi, reprehenderit cupiditate odio tempore quod?</p>
    </li>
    {% endfor %}
  </ul>
  <div>
    <button class="button" size="full-width" data-visual="secondary">Carregar mais mensagens</button>
  </div>
</section>

