---
layout: ds/prototype-detail.njk
title: PL-12800
tags:
  - prototype
---
{% include "patterns/3-modules/announcement-bar/announcement-bar.njk" %}
{# <p>Vamos adicionar Filtros e um input para escrever</p> #}

{% include "patterns/4-sections/mensagens-section/mensagens-section.njk" %}




