<section class="checkin-section base-section | center-l stack-l">
  <h3>Ultima Visita</h3>
  <div class="user-card">
    <img src="#" alt="" class="profile">
    <h4>Nome do Usário</h4>
    <p>Ultima Visita: 01/01/2024</p>
  </div>

  <a href="/pages/prototype/equipamento/checkin" class="button" data-size="l" data-full-width="true">Check In</a>
</section>
