  <section class="checkin-section base-section | stack-l" >
    <div class="user-card">
      <p>Ultima Visita por <strong>Nome do Usário</strong> em <span>01/01/2024</span></p>
    </div>

    <a href="/pages/prototype/equipamento/checkin" class="button" data-size="l" data-full-width="true" data-color="white">Check In</a>
  </section>

