<section class="checkin-section base-section | cluster-l" data-justify="center" data-size="s">
  <a class="button" unstyled data-color="white" href="/pages/prototype/equipamento/checkin/">APR</a> | 
  <a class="button" unstyled data-color="white" href="/pages/prototype/equipamento/checkin-2/">Fotos</a> | 
  <a class="button" unstyled data-color="white" href="/pages/prototype/equipamento/checkin-3/">Relato</a>
</section>
