body {
  /* background-color: var(--base-color); */
}

.swatches {
  display: flex;
  flex-direction: column;
}

.swatch {
  flex: 1;
  padding: var(--space-s-m);
  aspect-ratio: 1;
  justify-content: center;
  text-align: center;
}

.swatch-row {
  display: flex;
  flex-direction: row;
  h1, h2 {
    padding: var(--space-s-m);
    color: var(--base-color);
  }
}


