/* These are styles that I didn't decide where to put them yet */

.montele-logo {
  width: 64px;
  height: auto;
  padding: var(--space-s);
}

.hamburger-menu__trigger {
  width: 64px;
  font-size: 1.75rem;
  padding: var(--space-s);
}


.ticket-list {
}




