<div class="textarea-full | stack-l">
  <textarea name="" id="" rows="6">Escrever...</textarea>
  <button class="button" data-full-width="true">Fechar</button>
  {# Não estou muito certo sobre a palavra "Fechar" #}
</div>

