<div class="textarea-full | stack-l">
  <textarea name="" id="" rows="3" placeholder="Escrever..."></textarea>
  {# Não estou muito certo sobre a palavra "Fechar" #}
  <button class="button">Fechar</button>  
</div>

