.app-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
  height: 100svh;
  max-height: 100svh;
  overflow-y: hidden;
  grid-template-areas: "header" "above-main" "main" "above-footer" "footer";
}

.app-layout__header { grid-area: header; }
.app-layout__above-main { grid-area: above-main; }
.app-layout__main   { grid-area: main; }
.app-layout__above-footer { grid-area: above-footer; }
.app-layout__footer { grid-area: footer; }

.app-layout__main   { 
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  /* Prevents footer from overlapping content */
  /* padding-block: 1rem;  */

  section {
    box-sizing: border-box;
    max-width: 100svw;
  }
 }

/* Visuals */
.app-layout__header,
.app-layout__footer { background-color: var(--white-color); }

.app-layout__header { border-bottom: 1px solid var(--base-tint-20); }

.app-layout__footer { 
  padding-inline: var(--space-m);
}
