.app-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100svh;
  grid-template-areas: "header" "main" "footer";
}

.app-layout__header { grid-area: header; }
.app-layout__main   { grid-area: main; }
.app-layout__footer { grid-area: footer; }

.app-layout__main   { 
  overflow-y: auto;
 }

/* Visuals */
.app-layout__header,
.app-layout__footer { background-color: var(--white-color); }

.app-layout__header { border-bottom: 1px solid var(--base-tint-20); }

.app-layout__footer { 
  border-top: 1px solid var(--base-tint-20); 
  padding-inline: var(--space-m);
}
