.ticket {
  --stack-space: var(--space-xl);
  border-bottom: 1px solid var(--base-color-20);
  padding-bottom: var(--stack-space);
}

.ticket__timing {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: var(--space-xs);
}

.ticket__timing__item {
  --stack-space: var(--space-3xs);
}
