{# 
  Ainda não consegui resolver todas as possibilidades 
  de um variações de um ticket. O color coding para os 
  prazos ainda não está implementado. 

  Acho melhor definir isso quando tivermos o design atualizado
  e o contexto definitivo que vem do backend.
#}

<div class="ticket | stack-l" 
     data-ticket-prazo="{{ ticket.prazo_flag  | slugify }}"
     data-ticket-status="{{ ticket.status | slugify }}"
     data-ticket-motivo="{{ ticket.motivo | slugify }}"
>
  
  <hgroup class="ticket__header | polarize-l">
    <h2 class="subject-title">{{ticket.type}}</h2>
    <a class="subject-title" href="#">{{ ticket.number }}</a>
  </hgroup>
  
  <div class="ticket__status | ticket-status">
    <div class="ticket-status__column" data-field="motivo">
      <h4 class="ticket-status__label | label">Motivo</h4>
      <div class="ticket-status__value | chip" data-ticket-motivo>{{ ticket.motivo }}</div>
      {# Motivo: Paralisado, Passageiro Preso, Funcionamento Insatisfatório, Preventiva #}
    </div>
    
    
    <div class="ticket-status__column" data-field="status">
      <h4 class="ticket-status__label | label">Status</h4>
      <div class="ticket-status__value | chip" data-ticket-status>{{ ticket.status }}</div>
      {# Aberto, Atrasado #}
    </div>
    
  </div>
  <div class="ticket__description">
    <h4 class="label">Instrução</h4>
    <p>{{ticket.description}}</p>
  </div>
  <div class="ticket__timing">
    <div class="ticket__timing__item | stack-l">
      <h4 class="label">Previsão</h4>
      <p class="time-status">Hoje 08:30</p>
    </div>
    <div class="ticket__timing__item | stack-l">
      <h4 class="label">Prazo</h4>

      <p class="time-status">Hoje 11:10</p>
    </div>
    <div class="ticket__timing__item | stack-l">
      <button class="button icon">update</button>
    </div>
  </div>
</div>
