<div class="ticket | stack-l">
  <hgroup class="ticket__header | polarize-l">
    <h2 class="subject-title">Chamado Corretivo</h2>
    <a class="subject-title" href="#">PL-12800/028</a>
  </hgroup>
  <div class="ticket__status | cluster-l">
    <span class="chip" data-color="fail" data-visual="primary">Passageiro Preso</span>
    <span class="chip" data-color="fail">Atrasado</span>
  </div>
  <div class="ticket__description">
    <h4 class="label">Instrução</h4>
    <p>REVISÃO DO MOTOR - Foi constatado que o motor está apresentando ruído atípico, este será recolhido e trazido à fábrica para análise. @ernandes.souza gentileza programar reparo.</p>
  </div>
  <div class="ticket__timing">
    <div class="ticket__timing__item | stack-l">
      <h4 class="label">Previsão</h4>
      <p class="time-status" data-status="atrasado">Hoje 08:30</p>
    </div>
    <div class="ticket__timing__item | stack-l">
      <h4 class="label">Prazo</h4>
      <p class="time-status" data-status="atencao">Hoje 11:10</p>
    </div>
    <div class="ticket__timing__item | stack-l">
      <button class="button icon">update</button>
    </div>
  </div>
</div>
