<!-- This is just a placeholder. 
     We should delete it once the first component is added to this folder -->
<div class="card">
    <div class="card__image">
        <img src="test.jpg" alt="">
    </div>
    <div class="card__content">
        <h3 class="card__title">Title</h3>
        <p class="card__description">Description</p>
        <a href="#url" class="card__link">Read more</a>
    </div>
</div>



